<?xml version="1.0"?>
<model>
  <name>Procedural suspension insulator</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>doggo contributors</name>
  </author>
  <description>Parametric ceramic suspension insulator used for synthetic data.</description>
</model>

